body {
  font-size: 16px;
  color: black;
  font-family:  "Comic Sans MS", cursive, sans-serif;
  box-sizing: border-box;
}
 #header-nav {
  background-color: #A9A9A9;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: black;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 10px;
  margin-bottom: 25px;
  line-height: .75;
}
.minT {/*the title before the p*/
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
}
.row >div {
	background-color: #A9A9A9;
	margin-top: 35px ; 
	margin-right: 1px;/*even in this it jump*/

}
