body {
  font-size: 16px;
  color: black;
  font-family:  "Comic Sans MS", cursive, sans-serif;
  box-sizing: border-box;
}
 #header-nav {
  background-color: #A9A9A9;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: black;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 10px;
  margin-bottom: 25px;
  line-height: .75;
}
#unnav{
	width: 50px;
	height: 50px;
}
/*.minT 
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;*/


article {
	background-color: #A9A9A9;
	margin-top: 35px ; 
	margin-right: 5px;/*even in this it jump*/

}
article > span {
  width: 100%;
  font-size: 1.6em;
  text-transform: uppercase;
  margin-left: 50px ; 
}
@media (min-width: 1200px) {
  
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
 
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */

}
